# Dependencies
/node_modules

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# IDE
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System
.DS_Store
Thumbs.db
